@page
@model Backend.Pages.ContainersModel
@{
    var containers = await Model.Context.GetContainersAsync();
    var floorsRender = Model.RenderService.GetFloors();
    var containersRender = Model.RenderService.GetContainers(containers.ToList());
    var textsRender = Model.RenderService.GetTexts(containers.ToList());
}
<script src="~/lib/aframe.min.js"></script>
<link rel="stylesheet" href="~/lib/datatables/jquery.dataTables.min.css"/>

<h1>Containers</h1>

<div class="row">
    <div class="col-3">

    </div>
    <div class="visualizer col-9">
        <a-scene embedded>
            @foreach (var floor in floorsRender)
            {
                <a-plane position="@floor.Position" rotation="@floor.Rotation" width="@floor.XLength" height="@floor.ZLength" color="@floor.Color"></a-plane>
            }

            @foreach (var container in containersRender)
            {
                <a-box id="@container.Id"
                       position="@container.Position"
                       rotation="@container.Rotation"
                       color="@container.Color"
                       width="@container.XLength"
                       height="@container.YLength"
                       depth="@container.ZLength"
                       src="/lib/border.png"
                       cursor-listener></a-box>
            }

            @foreach (var text in textsRender)
            {
                <a-entity position="@text.Position"
                          rotation="@text.Rotation"
                          text="@text.Text"></a-entity>
            }

            <a-entity id="first-camera" camera="active: true;" look-controls wasd-controls="acceleration:65; fly:true" position="0 1.6 0">
                <a-entity cursor="fuse: true; fuseTimeout: 500"
                          position="0 0 -1"
                          geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                          material="color: black; shader: flat">
                </a-entity>
            </a-entity>

            <!-- Misc -->
            <a-sky color="#ECECEC"></a-sky>
        </a-scene>
    </div>
    <div class="col-12"><hr /></div>
    <div class="col-12">


        <table class="table table-sm table-striped table-hover" id="containers-table">
            <thead>
                <tr>
                    <th scope="col">
                        Container Id
                    </th>
                    <th scope="col">
                        Block Id
                    </th>
                    <th scope="col">
                        Bay #
                    </th>
                    <th scope="col">
                        Stack #
                    </th>
                    <th scope="col">
                        Tier #
                    </th>
                    <th scope="col">
                        Arrival
                    </th>
                </tr>
            </thead>
            @foreach (var container in containers)
            {
                <tr>
                    <th scope="row">
                        @container.Id
                    </th>
                    <td>
                        @container.BlockId
                    </td>
                    <td>
                        @container.BayNum
                    </td>
                    <td>
                        @container.StackNum
                    </td>
                    <td>
                        @container.TierNum
                    </td>
                    <td>
                        @container.ArrivedAt
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#containers-table', {
            
        });
    </script>
}

